@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');

body{
    background-color: #ddd;
    margin: 0;

    font-family: 'Simonetta',sans-serif;
}